20170811/
20180101/
*/__pycache__/*
*.pyc
.mypy_cache/
.pytest_cache/
.DS_Store
.vscode
*.zip

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# virtual env
pyvenv.cfg

# testing 
/tests/test_compare_fbs_dss/
/tests/test_compare_old_fbs/