*/__pycache__/*
*.pyc
.mypy_cache/
.pytest_cache/
.DS_Store
.vscode
*.zip

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
var/
*.dist-info
*.egg-info/
.installed.cfg
*.egg

# virtual env
pyvenv.cfg
venv/

# testing 
/tests/test_compare_fbs_dss/
/tests/test_compare_old_fbs/
/tests/test_compare_nr3_dss/
