20170811/
20180101/
*/__pycache__/*
*.pyc
.mypy_cache/
.pytest_cache/
.DS_Store
.vscode
*.zip
test_compare_results/

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# virtual eng
pyvenv.cfg